includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - database
    - routes
  level: 0
  treatPhpDocTypesAsCertain: false
  excludePaths:
    - bootstrap/cache/*
    - storage/*
